# FUNCIÓN DE TOKENIZACIÓN HORIZONTAL DE TEXTOS

Este es un código sencillo que se aplca a ciertas tablas de la red social telegram en la que se necesita dividir el contenido de una columna en dos diferentes, aplica la teoria de la tokenización aunque no va a ser necesario ningun algoritmo especial ni sofisticado.

# PSEUDOCÓDIGO

Para entender mejor el procedimiento del código, se realizará un pseudocódigo más cercano al lenguaje humano.

Concetar a la base de datos<br>
Recoger columnas necesarias de la tabla<br>
Selecionar los textos<br>
hacer todos los caracteres minusculas<br>
Separar texto en dos<br>
para cada tupla<br>
&emsp; identificar si su longitud es mayor a 2<br>
&emsp; si es mayor que dos stopword <br>
&emsp; &emsp; el primer elemento a una columna y el segundo a otra columna<br>
&emsp; si no lo es<br>
&emsp; &emsp; añadir 0  y null respectivamente a cada columna<br>

&emsp; crear tabla con las nuevas columnas<br>

# LIBRERÍAS

Este código no usa ninguna librería específica, el elemento clave en este código es la función .split() qeu nos permite dividir el texto por el carácter que tengamos.

Otras librerías que se usan son:
- **Pandas** : Manipulación de datos
- **Mysql.connector**: Conexión con la base de datos
- **Codecs**: Normalización de caracteres
- **tqdm**: Enseña barra de progreso

Una vez ya se explica todo, se da comienzo con el código de la tokenización, importando las librerias y creando la conexión a la base de datos

In [ ]:
import mysql.connector
import codecs
import pandas as pd
from nltk.corpus import stopwords
import string
from tqdm import tqdm

codecs.register(lambda name: codecs.lookup('utf8') if name == 'utf8mb4' else None)

database = mysql.connector.connect(
    host= "localhost",
    user= "root",
    passwd= "",
    database= "TFG",
    use_unicode = True, 
    charset="utf8mb4",
    collation = "utf8mb4_general_ci"
)
database.set_charset_collation("utf8mb4","utf8mb4_general_ci")

cursor= database.cursor()

Primero, se crea una función que será útil luego en el código

In [ ]:
def minusculas(x): #convierte el texto a minusculas
    try:
       x =  x.lower()
    except:
        pass
    return x

Acto seguido, se ejecuta el código

In [ ]:
df = pd.read_sql("SELECT * FROM tokenizado_linkedin_aptitud2",database)



tokens = df["tokens_espanol"].to_list()

numero = []
texto = []
for z in tqdm(range(len(tokens))):
    print(tokens[z])
    try:
        listilla = tokens[z].split( " | ")
    except:
        listilla = [0,"null"]
    if len(listilla) <2:
        numero.append(0)
        texto.append("null")
    else:
        numero.append(listilla[0])
        texto.append(listilla[1])
df["Numero"] = numero
df["Texto"] = texto
print(df.head(20))

Una vez ya se tiene todo, se crea la nueva tabla y se inserta.

In [ ]:

dataFrame   = pd.DataFrame(data=orden)           

tableName = "tokenizado_linkedin_aptitudes"

sqlEngine       = create_engine('mysql+pymysql://root:@127.0.0.1/TFG', pool_recycle=3600)

dbConnection    = sqlEngine.connect()

 

try:

    frame           = dataFrame.to_sql(tableName, dbConnection, if_exists='fail');

except ValueError as vx:

    print(vx)

except Exception as ex:   

    print(ex)

else:

    print("Table %s created successfully."%tableName);   

finally:

    dbConnection.close()

## Con este código se tokeniza todos los textos, cambiando la tabla y la columna

# Tiene una duración de  menos de 30 segundos para 900K de registros.